@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #323232;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Eigener Gradient für Badge und Text */
.my-gradient {
  background: linear-gradient(to right, #3b82f6, #22c55e); /* entspricht from-blue-500 to-green-500 */
}

/* Text-Gradient für Überschriften */
.text-gradient {
  background: linear-gradient(to right, #3b82f6, #22c55e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Text für Navigationslinks */
.text-navlink {
  font-size: 1.125rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  transition: text-decoration 0.2s;
}
.text-navlink:hover {
  text-decoration: underline;
}
@media (prefers-color-scheme: dark) {
  .text-navlink {
    color: #fff;
  }
}

/* Footer-Stil */
footer {
  background-color: var(--background);
  color: var(--foreground);
}