@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d2d2d;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Eigener Gradient für Badge und Text */
.my-gradient {
  background: linear-gradient(to right, #3b82f6, #22c55e); /* entspricht from-blue-500 to-green-500 */
}

/* Text-Gradient für Überschriften */
.text-gradient {
  background: linear-gradient(to right, #3b82f6, #22c55e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}